<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= profile.youtube %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= profile.website %>
  </p>

</div>
